extends layout

block content

    .body
        .container
            nav.navbar                 
                a.link(href='/')
                    button.button1 Home

            hr
            table.table.bg-white
                thead
                    h1 Reportes
                    tr 
                        th(scope='col') Cantidad de Pasajes Vendidos
                        
                tbody
                    tr
                        td #{reservas[0].Numero}
                    tr 
                        th(scope='col') Cantidad de Aviones Disponibles
                        
                tbody
                    tr
                        td #{disponibles[0].Numero}
                    tr 
                        th(scope='col') Cantidad de Aviones en Mantenimiento
                        
                tbody
                    tr
                        td #{mant[0].Numero}
                    tr 
                        th(scope='col') Ganancias de Acuerdo a los Vuelos Actuales
                        
                tbody
                    tr
                        td #{ganancias[0].Ganancias} $
                    tr 
                        th(scope='col') Cantidad de Usos por Cada Avión
                        
                tbody
                    - for(var i=0; i < avionesUsos.length; i++)
                        tr
                            td Modelo: #{avionesUsos[i].Avion}  /  Usos: #{avionesUsos[i].Usos}
                    
                        tr 
                            th(scope='col') Cantidad Programada para un Vuelo VS Cantidad que Abordaron
                        
                tbody
                    - for(var i=0; i < cantidadProgramada.length; i++)
                        tr 
                            td Modelo: #{cantidadProgramada[i].Modelo} / Cantidad Programada: #{cantidadProgramada[i].NumeroA}

                    - for(var i=0; i < cantidadAbordaron.length; i++)
                        tr
                            td Modelo: #{cantidadAbordaron[i].Modelo} / Número de Vuelo: #{cantidadAbordaron[i].Vuelo} / Cantidad Vendidad: #{cantidadAbordaron[i].NumeroV}

                        tr 
                            th(scope='col') Destinos más Visitados
                tbody
                    tr 
                        td #{masusados[0].Numero}

                    tr 
                        th(scope='col') Peso Promedio de los Vuelos
                tbody    
                    tr 
                        td #{prompeso[0].Numero} Kg
